---
import '../styles/general.css';
import '../styles/globals.css';
---
 <header>
      <div>
        <div class="topNav">
          <img alt="logo" class="logo" src={'astro-icon-light-gradient.png'} width={50} height={50} />
          <nav>
            <ul>
              <li>
                <a href="/">home</a>
              </li>
              <li>
                <a href="#">Blog</a>
              </li>
              <li>
                <a href="#">Events</a>
              </li>
              <li>
                <a href="#">About</a>
              </li>
            </ul>
          </nav>
        </div>
        <p class="title">Astro Xata Blog</p>
      </div>
    </header>